[project]
	description = Minimalist Code Coverage Tool for .NET Core
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ido David (ido-namely)
[access "refs/for/refs/*"]
	read = group user/Ido David (ido-namely)
	push = group user/Ido David (ido-namely)
	label-Code-Review = -2..+2 group user/Ido David (ido-namely)
	label-Verified = -1..+1 group user/Ido David (ido-namely)
	rebase = group user/Ido David (ido-namely)
	removeReviewer = group user/Ido David (ido-namely)
	submit = group user/Ido David (ido-namely)
[access "refs/heads/*"]
	read = group user/Ido David (ido-namely)
	create = group user/Ido David (ido-namely)
	push = +force group user/Ido David (ido-namely)
	pushMerge = group user/Ido David (ido-namely)
[access "refs/tags/*"]
	push = group user/Ido David (ido-namely)
	push = +force group user/Ido David (ido-namely)
